.navbar-container {
    padding-top: 20px;
    text-align: center;
}

.flag-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
    margin-left: 425px;
    width: 1500px;
}

.flag-card {
    display: flex;
    padding: 10px;
}

.flag-image {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 300px;
    width: 400px;
}

.pricing-container {
    float: left;
    font-size: 27px;
    padding-left: 50px;
}

.sizing-container {
    float: right;
    font-size: 27px;
    padding-right: 50px;
}
